%h1 Question
%h5
  Score:
  =@question.votes.count
%h3
  = @question.title
%h6
  Written by 
  =@question.user.handle.titleize
  Posted
  =time_ago_in_words(@question.created_at)
  ago

= link_to "Edit", edit_question_path(@question)
= link_to "Delete", question_path(@question), :method => :delete
%h4
  = @question.content

.answers
  %h2 Answers
  %ul
    - @question.answers.each do |answer|
      %li
        %p
          Score
          =answer.votes.count
        %p=answer.content
        %p
          %h5
            Written by
            =answer.user.handle.titleize
            Posted
            =time_ago_in_words(answer.created_at)
            ago
      = link_to "Edit", edit_answer_path(answer)
      = link_to "Delete", answer_path(answer), :method => :delete