%h1 Question
= render "/votes/vote_control", :score => @question.vote_score
%h3
  = @question.title
%h6
  Written by 
  = @question.user.handle.titleize
  Posted
  = time_ago_in_words(@question.created_at)
  ago
- if session[:id] == @question.user_id
  = link_to "Edit", edit_question_path(@question)
  = link_to "Delete", question_path(@question), :method => :delete
%h4
  = @question.content

.answers
  %h2 Answers
  %ul
    - @question.answers.each do |answer|
      %li
        = render "/votes/vote_control", :score => answer.vote_score
        %p=answer.content
        %p
          %h5
            Written by
            = answer.user.handle.titleize
            Posted
            = time_ago_in_words(answer.created_at)
            agoif session[:id] = answer.user_id
      = link_to "Edit", edit_answer_path(answer)
      = link_to "Delete", answer_path(answer), :method => :delete
